<<<<<<< HEAD
﻿@using System.Diagnostics
@using SignalRMVCChat.Areas.sysAdmin.Service
@using SignalRMVCChat.Service
@using TelegramBotsWebApplication
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="~/Content/HelpImages/logo.png" />

    <title>@ViewBag.Title - پشتیبان همراه </title>
    @*@Styles.Render("~/bundles/css/flikr")*@
<link href="/Content/fontAwsome/fontAwsome.css"
      rel="stylesheet"/>
    <link rel="stylesheet" href="~/Content/ThemeFlikr/lifetrakr/plugins/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/ThemeFlikr/lifetrakr/plugins/themify-icons/themify-icons.css" />
    <link rel="stylesheet" href="~/Content/ThemeFlikr/lifetrakr/plugins/slick/slick.css" />
    <link rel="stylesheet" href="~/Content/ThemeFlikr/lifetrakr/plugins/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/Content/ThemeFlikr/lifetrakr/css/style.css" />

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />


    @Scripts.Render("~/bundles/modernizr")
    
    
    <link rel="stylesheet" href="~/Content/Site.css"/>

</head>

@{ 
    var baseUrl= MyGlobal.GetBaseUrl(Request.Url);
}

<body class="body-wrapper">

    <nav class="navbar main-nav fixed-top navbar-expand-lg large" style="margin-bottom:0px">
        <div class="container">
            <li class="navbar-brand" style="height: 19px !important;">
                <a class="navbar-brand scrollTo" href="/" style="color:white;font-size: 20px">
                    افزونه گفتگوی آنلاین
                </a>
            </li>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu text-white"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ml-auto navbar-right">
                    <!-- <li class="nav-item">
                        <a class="nav-link scrollTo" href="#home">معرفی</a>
                    </li>-->
                    <!--<li class="nav-item">
                        <a class="nav-link scrollTo" href="#about">درباره </a>
                    </li>-->

                    <li class="nav-item">
                        <a class="nav-link scrollTo" href="/Home/Docs">راهنما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollTo" href="@baseUrl/#feature">امکانات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollTo" href="@Url.Action("Price")">قیمت</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link scrollTo" href="@baseUrl/#FreeDownloadNow">دانلود اپ های پشتیبان</a>
                        </li>*@
                    @*<li class="nav-item">
                            <a class="nav-link scrollTo" href="@baseUrl/#extentionDownloadNow">نصب افزونه</a>
                        </li>*@
                    @if (SignalRMVCChat.SysAdmin.Service.CurrentRequestSingleton.CurrentRequest?.AppLoginViewModel?.AppUserId != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link scrollTo" href="/Customer/Dashboard">
                                پیشخوان
                                <i class="ti-user"></i>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link scrollTo" href="/Security/Account/Login">نصب افزونه </a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link " href="/Security/Account/Login">ورود </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="/Security/Account/Register">ثبت نام </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link scrollTo" href="#contact">مشتریان راضی</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>

    @if (TempData[SignalRMVCChat.Models.MySpecificGlobal.ErrorMessageTempData] != null)
    {

        <div class="alert alert-danger">
            <b>خطا</b>

            <p>
                @TempData[SignalRMVCChat.Models.MySpecificGlobal.ErrorMessageTempData]
            </p>
        </div>
    }

    @if (TempData[SignalRMVCChat.Models.MySpecificGlobal.SuccessMessageTempData] != null)
    {

        <div class="alert alert-success">
            <b>پیغام</b>

            <p>
                @TempData[SignalRMVCChat.Models.MySpecificGlobal.SuccessMessageTempData]
            </p>
        </div>
    }

    @RenderBody()

    <footer class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mr-auto">
                    <div class="footer-logo">
                        افزونه گفتگوی آنلاین وب
                        @*<img src="~/Content/ThemeFlikr/lifetrakr/images/logo.png" alt="footer-logo">*@
                    </div>
                    <div class="copyright">
                        <p>تمامی حقوق محفوظ است </p>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <!-- Social Icons -->
                    @*<ul class="social-icons list-inline">
                            <li class="list-inline-item">
                                <a target="_blank" href="https://facebook.com/themefisher"><i
                                        class="text-primary ti-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a target="_blank" href="https://twitter.com/themefisher"><i
                                        class="text-primary ti-twitter-alt"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a target="_blank" href="https://github.com/themefisher"><i
                                        class="text-primary ti-linkedin"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a target="_blank" href="https://instagram.com/themefisher"><i
                                        class="text-primary ti-instagram"></i></a>
                            </li>
                        </ul>*@
                    <!-- Footer Links -->
                    <ul class="footer-links list-inline">
                       
                        @if (Debugger.IsAttached)
                        {
                            <li> <a id="sysAdminLogin" style="color: white" class="scrollTo" href="/Account/AdminLogin">ورود به سیستم</a></li>
                        }

                        @if (SignalRMVCChat.Areas.sysAdmin.Service.MyGlobal.IsAttached)
                        {
                            <li><a style="color: white" href="/Account/RegisterAdmin">ثبت نام ادمین</a></li>
                        }

                        <li><a style="color: white" href="/Home/AboutUs">درباره ما</a></li>
                        <li><a style="color: white" href="/Home/Rules">قوانین </a></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>



    @Scripts.Render("~/bundles/js/flikr")

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Content/Tools.js"></script>
    @RenderSection("scripts", required: false)




@*<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>*@
=======
﻿@using Engine.Localization
@using SautinSoft.Document
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - سیستم کاربردی بلوسافت </title>
    @*    @Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")


    @if (ViewBag.Bootstrap == null || ViewBag.Bootstrap == 3)
    {
        @Styles.Render("~/Content/Bootstrap3")
    }
    else if (ViewBag.Bootstrap == 4)
    {
        @Styles.Render("~/Content/Bootstrap4")
    }


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)


    <style>
            @@media (max-width:320px)  {  .navbar {display: none}/* smartphones, iPhone, portrait 480x320 phones */ }
            @@media (max-width:481px)  {  .navbar {display: none}/* portrait e-readers (Nook/Kindle), smaller tablets @@ 600 or @@ 640 wide. */ }
            @@media (max-width:641px)  {  .navbar {display: none}/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
            @@media (max-width:961px)  { .navbar {display: none}/* tablet, landscape iPad, lo-res laptops ands desktops */ }
            @@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
            @@media (min-width:1281px) { /* hi-res laptops and desktops */ }
    </style>
>>>>>>> 106c578037b333c973fee489ba8ef6e474141af4




<<<<<<< HEAD
<div id="gapPlugin"></div>

    @Html.Partial("~/Areas/Customer/Views/Shared/ExampleJsPlugin.cshtml", new MyWebsite(), null)
</body>
</html>
=======


</head>
<body>
<div id="body">


    @if (ViewBag.Bootstrap == null || ViewBag.Bootstrap == 3)
    {
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                @Html.Partial("_LanguagePartial")


                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink(Request.GetText(" سیستم مدیریت تردد بلوسافت"), "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        @*
                    <li>@Html.ActionLink(Request.GetText("گزارش ساز"), "index", "RHome", new { Area = "reportGenerator" }, new { })</li>
                    <li>@Html.ActionLink("(فرم ساز) App Generator", "Index", "Home", new { Area = "" }, new { })</li>
                    <li>@Html.ActionLink("(زیر  سیستم مدیریت تردد) Attendance System", "Index", "AttendanceHome", new { Area = "Absence" }, new { })</li>
                    *@
                        <li> @Html.Partial("_LoginPartial")</li>


                    </ul> @*@Html.Partial("_LoginPartial")*@
                </div>


            </div>
        </nav>
    }
    else if (ViewBag.Bootstrap == 4)
    {
        
        
      
        
        <nav class="  navbar navbar-expand-lg navbar-light bg-light">
            @*<a class="navbar-brand" href="#">Navbar</a>*@
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                                                           @Html.ActionLink(Request.GetText(" سیستم مدیریت تردد بلوسافت"), "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
 @Html.Partial("_LanguagePartial")
            
                <ul class="navbar-nav mr-auto">

                    @*<li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>*@
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    @Html.Partial("_LoginPartial")

                </div>
                @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>*@
            </div>
        </nav>
    }


    <div class="body-content">
        @RenderBody()
        <footer style="    position: absolute;
                           bottom: 0px;
                           z-index: -1;">
            <p>&copy; @DateTime.Now.Year - سیستم کاربردی بلوسافت - کلیه حقوق محفوظ است</p>
        </footer>
    </div>

    @if (ViewBag.Bootstrap == null || ViewBag.Bootstrap == 3)
    {
        @Scripts.Render("~/Content/Bootstrap3js")
    }
    else if (ViewBag.Bootstrap == 4)
    {
        @Scripts.Render("~/Content/Bootstrap4js")
    }


</div>

<div id="printHelper"></div>

<link rel="preload" href="/Content/admin/main.js" as="script">

</body>
</html>
>>>>>>> 106c578037b333c973fee489ba8ef6e474141af4
