@using Engine.Areas.JUiEngine.Controllers
@using Engine.Areas.ReportGenerator.Controllers
@using Engine.Entities.Models.UiGeneratorModels
@using Engine.Service.AbstractControllers
@model Engine.Entities.Models.UiGeneratorModels.UiForm
@{
    ViewBag.Title = "ShowView";
    var withlayout = ViewData[UiFormEngineController.WithLayout] as bool?;
    // Layout = "../Shared/_Layout.cshtml";
    if (withlayout == false)
    {
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

@{
    ViewData[UiFormEngineController.ItemsPartialFormId] = Model.Id.ToString();

    var PostSubsystemUrl = ViewData[UiFormEngineController.PostSubsystemUrl] as string;
    var PostActionUrl = ViewData[UiFormEngineController.PostActionUrl] as string;
    var PostControllerUrl = ViewData[UiFormEngineController.PostControllerUrl] as string;

    var isAjax = ViewData[UiFormEngineController.IsAjax] as bool?;
    var BackUrl = ViewData[UiFormEngineController.BackUrl] as bool?;

    var updateIdafterpost = ViewData[UiFormEngineController.UpdateIdafterpost] as string;
    // var isInline = ViewData["class"] as string ?? "form-inline";
    var submitName = ViewData[UiFormEngineController.SubmitName + Model.Id] as string;
    var OnCompleteFunction = ViewData[UiFormEngineController.OnCompleteFunction + Model.Id] as string;
    submitName = submitName ?? "جستجو";

    var formId = $@"form_{Model.Id}";
    ViewData[UiFormEngineController.FormId] = formId;
}
@Html.Partial("~/Areas/JUiEngine/Views/Shared/ItemsPartial.cshtml")

@if (ViewData[GlobalNames.MVCResponseMessage] != null)
{
    var res = (CustomResult) ViewData[GlobalNames.MVCResponseMessage];
    var type = res.Status == CustomResultType.success ? "alert-success" : "alert-warning";

    <div class="alert @type">
        <strong>پیغام ها!</strong>
        <p>@res.Message</p>
    </div>
}

@if (ViewData[GlobalNames.AllErrors] != null)
{
    var errors = ViewData[GlobalNames.AllErrors] as IEnumerable<ModelError>;
    if (errors != null)
    {
        <div class="alert alert-warning">
            <strong>خطا ها!</strong>

            @foreach (var modelError in errors)
            {
                <p>@modelError.ErrorMessage</p>
            }

        </div>
    }
}




@if (isAjax == true)
{
    //PostControllerUrl = PostControllerUrl + "api";
    //  var action = $@"/{PostSubsystemUrl}/{PostControllerUrl}/{PostActionUrl}" + Request.Url.Query;
      var action = $@"/{PostSubsystemUrl}/{PostControllerUrl}/{PostActionUrl}" + Request.Url.Query;
    <form action="@action"
          class="form row " id="@formId" method="post">
        @Html.Partial("~/Areas/JUiEngine/Views/Shared/DynamicFormPartial.cshtml")
        <br>
        
        
        <div class="col">
            <input id="isAjax_@Model.Id" value="true" name="isajax" type="hidden" class="btn btn-primary"> 
            
                    <button id="search_@Model.Id" type="submit" class="btn btn-primary">جستجو </button>
                    <button id="reset_@Model.Id" type="reset" class="btn btn-primary">ریست</button>
        </div>
    </form>
   @* using (Ajax.BeginForm(PostActionUrl, PostControllerUrl, new {area = PostSubsystemUrl}, new AjaxOptions {HttpMethod = "post",OnComplete = OnCompleteFunction, OnFailure = "alert('خطا در سیستم');console.log(e);"},new {@class=""}))
    {
        @Html.Partial("~/Areas/JUiEngine/Views/Shared/DynamicFormPartial.cshtml")
        <br/>
        <button type="submit" class="btn btn-primary">@submitName    </button>
        <button type="reset" class="btn btn-primary">ریست</button>
    }*@


    <script>

        $(document).ready(function() {
            $('#form_@Model.Id').on('submit',
                function(e) {
                    // stop default form submission
                    e.preventDefault();

                    $.ajax({
                        url: "@action",
                        type: 'POST',
                        data: $('#form_@Model.Id').serialize(),
                        success: function(e) {
                            @Html.Raw(OnCompleteFunction);
                        }
                    });
                });
        });

    </script>
}
else
{
    using (Html.BeginForm(PostActionUrl, PostControllerUrl, new {BackUrl = BackUrl, area = PostSubsystemUrl}, FormMethod.Post, new {@class = "row form", @Id = formId}))
    {
        @Html.Partial("~/Areas/JUiEngine/Views/Shared/DynamicFormPartial.cshtml")
        <br/>
        <div class="col">
            <button type="submit" class="btn btn-primary">@submitName</button>
                    <button type="reset" class="btn btn-primary">ریست</button>
        </div>
    }
}