@using System.Web.Mvc.Html
@using Engine.Localization
<<<<<<< HEAD
@model SignalRMVCChat.Areas.security.Models.ForgotPasswordViewModel
=======
@model Engine.Models.ForgotPasswordViewModel
>>>>>>> 106c578037b333c973fee489ba8ef6e474141af4
@{
    ViewBag.Title = @Request.GetText("رمز عبور را فراموش کرده اید ؟");
    ViewBag.Bootstrap = 4;

}


<style>
<<<<<<< HEAD
.register{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
=======
>>>>>>> 106c578037b333c973fee489ba8ef6e474141af4
    .register{
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
        margin-top: 3%;
        padding: 3%;
    }
    .register-left{
        text-align: center;
        color: #fff;
        margin-top: 4%;
    }
    .register-left input{
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        width: 60%;
        background: #f8f9fa;
        font-weight: bold;
        color: #383d41;
        margin-top: 30%;
        margin-bottom: 3%;
        cursor: pointer;
    }
    .register-right{
        background: #f8f9fa;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
    }
    .register-left img{
        margin-top: 15%;
        margin-bottom: 5%;
        width: 25%;
        -webkit-animation: mover 2s infinite  alternate;
        animation: mover 1s infinite  alternate;
    }
    @@-webkit-keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-20px); }
    }
    @@keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-20px); }
    }
    .register-left p{
        font-weight: lighter;
        padding: 12%;
        margin-top: -9%;
    }
    .register .register-form{
        padding: 10%;
        margin-top: 10%;
    }
    .btnRegister{
        float: right;
        margin-top: 10%;
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        background: #0062cc;
        color: #fff;
        font-weight: 600;
        width: 50%;
        cursor: pointer;
    }
    .register .nav-tabs{
        margin-top: 3%;
        border: none;
        background: #0062cc;
        border-radius: 1.5rem;
        width: 28%;
        float: right;
    }
    .register .nav-tabs .nav-link{
        padding: 2%;
        height: 34px;
        font-weight: 600;
        color: #fff;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }
    .register .nav-tabs .nav-link:hover{
        border: none;
    }
    .register .nav-tabs .nav-link.active{
        width: 100px;
        color: #0062cc;
        border: 2px solid #0062cc;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
    }
    .register-heading{
        text-align: center;
        margin-top: 8%;
        margin-bottom: -15%;
        color: #495057;
    }
</style>
@*
<style>
    body{
        background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    }
    
    input {
        direction: ltr !important;
    }
    .contact-form{
        background: #fff;
        margin-top: 10%;
        margin-bottom: 5%;
        width: 70%;
    }
    .contact-form .form-control{
        border-radius:1rem;
    }
    .contact-image{
        text-align: center;
    }
    .contact-image img{
        border-radius: 6rem;
        width: 11%;
        margin-top: -3%;
        transform: rotate(29deg);
    }
    .contact-form form{
        padding: 14%;
    }
    .contact-form form .row{
        margin-bottom: -7%;
    }
    .contact-form h3{
        margin-bottom: 8%;
        margin-top: -10%;
        text-align: center;
        color: #0062cc;
    }
    .contact-form .btnContact {
        width: 50%;
        border: none;
        border-radius: 1rem;
        padding: 1.5%;
        background: #dc3545;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
    }
    .btnContactSubmit
    {
        width: 50%;
        border-radius: 1rem;
        padding: 1.5%;
        color: #fff;
        background-color: #0062cc;
        border: none;
        cursor: pointer;
    }
</style>*@


<style>
    .register{
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  
    }
    .register-left{
        text-align: center;
        color: #fff;
        margin-top: 4%;
    }
    .register-left input{
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        width: 60%;
        background: #f8f9fa;
        font-weight: bold;
        color: #383d41;
        margin-bottom: 3%;
        cursor: pointer;
    }
    .register-right{
        background: #f8f9fa;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
    }
    .register-left img{
        margin-top: 15%;
        margin-bottom: 5%;
        width: 25%;
        -webkit-animation: mover 2s infinite  alternate;
        animation: mover 1s infinite  alternate;
    }
    @@-webkit-keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-20px); }
    }
    @@keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-20px); }
    }
    .register-left p{
        font-weight: lighter;
        padding: 12%;
        margin-top: -9%;
    }
    .register .register-form{
        padding: 10%;
        margin-top: 10%;
    }
    .btnRegister{
        float: right;
        margin-top: 10%;
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        background: #0062cc;
        color: #fff;
        font-weight: 600;
        width: 50%;
        cursor: pointer;
    }
    .register .nav-tabs{
        margin-top: 3%;
        border: none;
        background: #0062cc;
        border-radius: 1.5rem;
        width: 28%;
        float: right;
    }
    .register .nav-tabs .nav-link{
        padding: 2%;
        height: 34px;
        font-weight: 600;
        color: #fff;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }
    .register .nav-tabs .nav-link:hover{
        border: none;
    }
    .register .nav-tabs .nav-link.active{
        width: 100px;
        color: #0062cc;
        border: 2px solid #0062cc;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
    }
    .register-heading{
        text-align: center;
        margin-top: 8%;
        margin-bottom: -15%;
        color: #495057;
    }
</style>


<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img  style="width: 50px" src="~/Content/designassets/pin-location-icon-sign-symbol-design-free.png"  alt=""/>
            <h3>@ViewBag.title</h3>

      
            <p>حساب کاربری ندارید ؟ </p>
            <input type="button" onclick="window.location.href='@Url.Action("Register")'" name="" value="ثبت نام"/><br/>

        </div>
        <div class="col-md-9 register-right">

            <div class="tab-content" id="myTabContent" dir="rtl">
<<<<<<< HEAD
                <div class="" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="register-heading">@Request.GetText("فراموشی رمز عبور")</h3>

                    
                   @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
=======
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="register-heading">@Request.GetText("فراموشی رمز عبور")</h3>

                    
                   @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
>>>>>>> 106c578037b333c973fee489ba8ef6e474141af4
                   {
                        @Html.AntiForgeryToken()


                        <div class="row register-form">

                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { placeholder = Request.GetText("نام کاربری یا ایمیل *"), @class = "form-control" })
                                </div>

                            </div>

                            <div class="col-md-6">


                                <div class="form-group">
                                </div>
                                <div class="form-group">


                                    <input type="submit" class="btnRegister" value="ارسال لینک "/>

                                </div>

                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}