@using WebAppIDEEngine.Models.Core
@using ViewModel.ActionTypes
@using Engine.Attributes
@using System.Web.Mvc
@using ViewModel.ActionTypes
@using Domain.Attributes
@using Engine.Service.AbstractControllers
@using Engine.DomainLayer.Models.Core.ViewGeneration
@using System.Web.Mvc.Html;
@model IDataTable
@{ 
    var tableName = ViewBag.tableName as string ?? "DefaultDataTable";
}


<h3  style="text-align:center">@ViewBag.Title</h3>
<hr />

@{
    List<RelationshipLink> links = ViewData[GlobalNames.RelationshipLink] as List<RelationshipLink>;

    foreach (var link in links)
    {
        <a  class="btn btn-primary" href="#" onclick="ToolbarGoToAction('#@tableName','//@link.Area//@link.Controller//@link.Action','@link.Method')">@link.Name  <i class="@link.Icon"></i></a>
    }
}

@Html.ActionLink("رکورد جدید", $"ForEdit",new { },new { @class= "btn btn-info" })
<hr />

@EngineDataTables.DataTable(Model, ViewData, Html, tableName, ViewContext)

<script>
    function ToolbarGoToAction(tableName, url, method) {

        var table = window['table'];


        var id=table.rows({ selected: true }).data(0);
        console.log(id);
        
        if (!url) {
            alert('url is null');
        }
        var data;

        if (!method) {
            method = "get";
        }


        if (method == 'get') {
            var params = $(tableName).serialize();
            url += "?" + params;
        } else if (method == 'post') {
            data = $(tableName).serialize();
        }
        
        $.ajax
            ({
                type: method,
                url: url,
                data: data,
                success: function (html) {
                    alert(html);
                }
            });
    }
</script>


@{ 
    var GetDataTable = ViewData["GetDataTable"] ?? "GetDataTable";
    var Controller = ViewData["GetDataTableController"] ?? ViewContext.RouteData.Values["controller"].ToString();
    var querystring = Request.QueryString.ToString();
    if (!string.IsNullOrEmpty(querystring))
    {
        querystring = "?" + querystring;
    }
    GetDataTable += querystring;
}


<script>

    //'ajax': '@Request.Url.AbsoluteUri',
            $(document).ready(function () {

            var table = $('.table').DataTable({
            'select': true,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            'language': {
            "sEmptyTable": "هیچ داده ای در جدول وجود ندارد",
                "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                "sInfoEmpty": "نمایش 0 تا 0 از 0 رکورد",
                "sInfoFiltered": "(فیلتر شده از _MAX_ رکورد)",
                "sInfoPostFix": "",
                "sInfoThousands": ",",
                "sLengthMenu": "نمایش _MENU_ رکورد",
                "sLoadingRecords": "در حال بارگزاری...",
                "sProcessing": "در حال پردازش...",
                "sSearch": "جستجو:",
                "sZeroRecords": "رکوردی با این مشخصات پیدا نشد",
                "oPaginate": {
                "sFirst": "ابتدا",
                    "sLast": "انتها",
                    "sNext": "بعدی",
                    "sPrevious": "قبلی"
                },
                "oAria": {
                "sSortAscending": ": فعال سازی نمایش به صورت صعودی",
                    "sSortDescending": ": فعال سازی نمایش به صورت نزولی"
                }
        }
    });
    var selectedRow;
    window['table'] = table;
        $('.table').on('click', 'tr', function () {
        selectedRow = table.row(this).data()
            console.log(selectedRow);
    });
            });


</script>