@model SignalRMVCChat.Areas.security.Controllers.ForgetPasswordViewModel
@{
    ViewBag.Title = "آیا رمز عبور خود را فراموش کرده اید ؟";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("EmailRequest", "ForgetPassword", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>ایمیلی که با آن ثبت نام کرده اید را وارد نمایید</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="درخواست رمز عبور" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
