<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - گزارش ساز بلوسافت</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*@Styles.Render("~/Content/css")*@
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/Site.css" rel="stylesheet"/>

    <link href="~/Content/timepicker/bootstrap-clockpicker.min.css" rel="stylesheet" />

    <link href="~/Content/Datepicker/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
        @Html.ActionLink(" گزارش ساز بلوسافت", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <small>Query & Report Generator</small>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @*<li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>*@
           
            </ul>
            <ul class="navbar-nav navbar-right">
                <li>@Html.ActionLink("طراحی کوئری", "Index", "Home", new { area = "" }, new { @class = "navbar-nav btn btn-dark text-primary" })</li>
                @Html.Partial("_LoginPartial")

 </ul>
        </div>
    </nav>

  
    <div class="container-fluid body-content">
        @RenderBody()
        @*@RenderSection("SPAViews", required: false)*@
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - تمامی حقوق مادی و معنوی محفوض است </p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)*@
    @RenderSection("Scripts", required: false)
<script src="~/Content/timepicker/bootstrap-clockpicker.min.js"></script>



<script src="~/Content/Datepicker/jalaali.js"></script>
<script src="~/Content/Datepicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>


</body>
</html>
