<<<<<<< HEAD
﻿@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Use this area to provide additional information.</p>
    </div>
=======
﻿
<div class="btn-group-vertical">
    <h3> جداول</h3>
    @Html.ActionLink("مدل ها", "GetDataTable", "Models", new {Area = "App"}, new {@class = "btn btn-primary"})
    @Html.ActionLink("پروپرتی ها", "GetDataTable", "Properties", new {Area = "App"}, new {@class = "btn btn-primary"})
    @Html.ActionLink("روابط ها", "GetDataTable", "NavigationProperties", new {Area = "App"}, new {@class = "btn btn-primary"})
</div>
<br/>
<div class="btn-group-vertical">
    @Html.ActionLink("فرمها", "GetDataTable", "Forms", new {Area = "App"}, new {@class = "btn btn-primary"})
    @Html.ActionLink("اکشن ها", "GetDataTable", "Actions", new {Area = "App"}, new {@class = "btn btn-primary"})
    @Html.ActionLink("پنل ها", "GetDataTable", "Panels", new {Area = "App"}, new {@class = "btn btn-primary"})
</div>

<h3> اپلیکیشن ساز (App Generator)</h3>
<div class="btn-group-vertical">
    @Html.ActionLink("مدیریت زیر سیستم ها", "GetDataTable", "SubSystem", new {Area = "AppGeneration"}, new {@class = "btn btn-primary"})
     @Html.ActionLink("مدیریت  سرویس ها", "GetDataTable", "DefineService", new {Area = "AppGeneration"}, new {@class = "btn btn-primary"})
    @Html.ActionLink("مدیریت متد سرویس ها", "GetDataTable", "DefineServiceMethod", new {Area = "AppGeneration"}, new {@class = "btn btn-primary"})
    @Html.ActionLink("مدیریت کنترولر ها", "GetDataTable", "DefineController", new {Area = "AppGeneration"}, new {@class = "btn btn-primary"})
    @Html.ActionLink("مدیریت متد کنترولر ها", "GetDataTable", "DefineControllerMethod", new {Area = "AppGeneration"}, new {@class = "btn btn-primary"})
    @Html.ActionLink("تولید خروجی", "GetDataTable", "Export", new {Area = "AppGeneration"}, new {@class = "btn btn-info"})
</div>


<h3> اپلیکیشن ساز (App Generator) - قسمت UI</h3>
<div class="btn-group-vertical">
    @Html.ActionLink("جداول", "GetDataTable", "EjTables", new {Area = "AppGeneration"}, new {@class = "btn btn-primary"})
    @Html.ActionLink("اتصال متد ها به جداول", "GetDataTable", "TableMethods", new { Area = "AppGeneration" }, new { @class = "btn btn-primary" })
    <hr />
    @Html.ActionLink("تعریف فرم ها", "GetDataTable", "UiForm", new { Area = "AppGeneration" }, new { @class = "btn btn-primary" })
    @Html.ActionLink("تعریف ورودی ها", "GetDataTable", "UiInput", new { Area = "AppGeneration" }, new { @class = "btn btn-primary" })
    @Html.ActionLink("اتصال ورودی ها به فرم ها", "GetDataTable", "UiFormInput", new { Area = "AppGeneration" }, new { @class = "btn btn-primary" })
    @Html.ActionLink("اتصال فرم ها به جداول", "GetDataTable", "UiTableForms", new { Area = "AppGeneration" }, new { @class = "btn btn-primary" })
    @Html.ActionLink("اتصال متد به فرم", "GetDataTable", "UiFormMethod", new { Area = "AppGeneration" }, new { @class = "btn btn-primary" })
    @Html.ActionLink("اتصال متد به ورودی ها", "GetDataTable", "UiInputMethod", new { Area = "AppGeneration" }, new { @class = "btn btn-primary" })
    <hr />
    @Html.ActionLink("تعریف آیتم ها", "GetDataTable", "UiItems", new { Area = "AppGeneration" }, new { @class = "btn btn-primary" })
    @Html.ActionLink("اتصال آیتم به جداول", "GetDataTable", "UiTableItems", new { Area = "AppGeneration" }, new { @class = "btn btn-primary" })
    @Html.ActionLink("اتصال آیتم به فرم ها", "GetDataTable", "UiFormItems", new {Area = "AppGeneration"}, new {@class = "btn btn-primary"})

>>>>>>> 106c578037b333c973fee489ba8ef6e474141af4
</div>