@using WebAppIDEEngine.Models.Core
@using ViewModel.ActionTypes
@using Engine.Attributes
@using System.Web.Mvc
@using ViewModel.ActionTypes
@using Domain.Attributes
@using System.Web.Mvc.Html;

@using Engine.Areas.App.Controllers
@using Engine.Areas.JUiEngine.Controllers
@using Engine.Service.AbstractControllers
@using Engine.DomainLayer.Models.Core.ViewGeneration
@using WebAppIDEEngine.Models.UiGeneratorModels
@model dynamic
@{
    var d = ViewData[UiHomeController.DataTable];
    IDataTable dataTable = ViewData[UiHomeController.DataTable] as IDataTable;
    EjTable ejTableObject = (EjTable) ViewData[UiHomeController.TableObject];
}

<h3 style="text-align: center">@ejTableObject.Translate</h3>
<hr/>


@EngineDataTables.DataTable(dataTable, ViewData, Html, ejTableObject.Id.ToString(), ViewContext, false)

<script>

    //'ajax': '@Request.Url.AbsoluteUri',
    $(document).ready(function() {


        var table = $('#@Html.Raw(ejTableObject.Id)').DataTable({
            "recordsTotal":28,
            "recordsFiltered": 28,
            "processing": true,
            "serverSide": true,
            'rowId':'Id',
            "ajax": {
                "url": '@Html.Raw(ViewData[UiHomeController.ActionURL])',
                'dataSrc': 'RecordsList',
                "type": "POST"
            },
            columns: [
                @{
                    foreach (var header in dataTable.Headers)
                    {
                       <text>
                { data: '@Html.Raw(header.Key)', "orderable": true },
                       </text> 
                    }
                    
                    }
            ],
            'select': true,
            'language': {
                "sEmptyTable": "هیچ داده ای در جدول وجود ندارد",
                "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                "sInfoEmpty": "نمایش 0 تا 0 از 0 رکورد",
                "sInfoFiltered": "(فیلتر شده از _MAX_ رکورد)",
                "sInfoPostFix": "",
                "sInfoThousands": ",",
                "sLengthMenu": "نمایش _MENU_ رکورد",
                "sLoadingRecords": "در حال بارگزاری...",
                "sProcessing": "در حال پردازش...",
                "sSearch": "جستجو:",
                "sZeroRecords": "رکوردی با این مشخصات پیدا نشد",
                "oPaginate": {
                    "sFirst": "ابتدا",
                    "sLast": "انتها",
                    "sNext": "بعدی",
                    "sPrevious": "قبلی"
                },
                "oAria": {
                    "sSortAscending": ": فعال سازی نمایش به صورت صعودی",
                    "sSortDescending": ": فعال سازی نمایش به صورت نزولی"
                }
            }
        });
        var selectedRow;
        window['@ejTableObject.Id'] = table;
        $('#@ejTableObject.Id').on('click',
            'tr',
            function() {
            });
    });

</script>