@using System.Collections.Specialized
@using Engine.Areas.JUiEngine.Controllers
@using Engine.Entities.Models.UiGeneratorModels
@using ViewModel.ActionTypes
@using WebAppIDEEngine.Models.UiGeneratorModels
@model dynamic

@{
    ViewData[UiFormEngineController.WithLayout] = false;
   // Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    div.dataTables_wrapper { direction: rtl; }

    td, th { text-align: right }
 
    
</style>


@{
    ViewData[UiFormEngineController.ItemsPartialFormId] = Model.Id.ToString();
    ViewData[UiFormEngineController.UpdateIdafterpost] = "Rootdt_" + Model.Id.ToString();
    var uiForm = ViewData[UiHomeController.Form] as UiForm;
    var uiTableItems = ViewData[UiHomeController.UiTableItems] as List<UiTableItem>;
}


@if (uiForm != null)
{
    <div class="container">
@{
   
    ViewData[UiFormEngineController.IsAjax] = true;
    ViewData[UiFormEngineController.SubmitName + uiForm.Id] = "جستجو";
    ViewData[UiFormEngineController.OnCompleteFunction + uiForm.Id] = "onSearchAjaxComplete(e,'" + Model.Id.ToString() + "')";

} <div class="panel panel-default">
            <div class="panel-heading">فیلتر اطلاعات</div>
            <div class="panel-body">
                <div class="row" style="direction: rtl">
                    @Html.Partial("~/Areas/JUiEngine/Views/UiFormEngine/ShowForm.cshtml", uiForm)
                </div>
            </div>
        </div>
    </div>
}
<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <span class="col-md-11">

                @if (uiTableItems != null && uiTableItems.Count > 0)
                {
                    <div class="btn-">

                        @foreach (var item in uiTableItems)
                        {
                            var icon = item.UiItem.Icon;
                            var name = item.UiItem.Name;
                            var url = "";
                            if (item.UiItem.UiItemType == UiItemType.GoToSave)
                            {
                                url = $@"{item.UiItem.CustomUrl}";
                                url = $@"openSaveLink('{url}')";
                            }
                            if (item.UiItem.UiItemType == UiItemType.Link)
                            {
                                url = item.UiItem.CustomUrl;
                                url = $@"openSaveLink('{url}')";
                            }
                            if (item.UiItem.UiItemType == UiItemType.Form)
                            {
                                url = $@"/JUiEngine/UiFormEngine/showView?formName={item.UiItem.FormName}";
                                url = $@"openFormLink('{url}')";
                            }
                            if (item.UiItem.UiItemType == UiItemType.Delete)
                            {
                                url = $@"{item.UiItem.CustomUrl}";
                                url = $@"Delete('{url}')";
                            }

                            <button onclick="@url" class="btn btn-primary">
                                <span class="@icon"></span> @name</button>
                        }


                    </div>
                }

            </span>
        </div>


    </div>
    <div class="panel-body">

        <div id="Rootdt_@Model.Id.ToString()">
            @Html.Partial("~/Areas/JUiEngine/Views/Shared/TablePartial.cshtml")
        </div>
    </div>
</div>


<script>
    @{
        EjTable ejTableObject = (EjTable) ViewData[UiHomeController.TableObject];
        IDataTable dataTable = (IDataTable) ViewData[UiHomeController.DataTable];
    }
    var headers = [ @{
                        foreach (var header in dataTable.Headers)
                        {
                            <text>
                                { data: '@Html.Raw(header.Key)', "orderable": true },
                            </text>
                        }
                    }];

    function onSearchAjaxComplete(response, tableId) {
        // $('#table_@Html.Raw(ejTableObject.Id)').empty();
        table.destroy();
        console.log(response, tableId);
        if (!response.RecordsList) {
            alert('لیست دیتا خالی است');
        }

        debugger;
        MakeDataTable('#table_@Html.Raw(ejTableObject.Id)', headers, response.RecordsList);


    }

    function Delete(url) {

        var row = table.rows({ selected: true }).data()[0];

        if (row && row[0]) {
            url += "/" + row[0];
        } else {
            alert('هیچ رکوردی انتخاب نشده است');
        }

        $.ajax({
            url: url,
            dataType: 'json',
            type: 'POST',
            success: function(callback) {

                if (callback.Status == 0) {
                    table.row(table.rows({ selected: true })[0]).remove().draw();
                    alert('با موفقیت حذف شد');
                } else {
                    alert(callback.Message);
                }

            },
            error: function(status) {
                console.log(status);
            }
        });
    }


    function AddIdAndSend(url) {
        var row = table.rows({ selected: true }).data()[0];

        if (row && row[0]) {
            url += "?id=" + row[0];
        }
        window.open(url, "_self");
    }

    function openFormLink(url) {
        AddIdAndSend(url);
    }

    function openSaveLink(url) {
        AddIdAndSend(url);

    }
</script>