<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -  سیستم مدیریت تردد</title>
    @*    @Styles.Render("~/Content/css")*@
    <link href="~/Content/Bootstrap-rtl.css" rel="stylesheet"/>
    <link href="~/Content/Site.css" rel="stylesheet"/>


    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet"/>
    <link href="~/Content/DataTables/AutoFill-2.3.0/css/autoFill.bootstrap.min.css" rel="stylesheet"/>

    <link href="~/Content/DataTables/ColReorder-1.5.0/css/colReorder.bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.min.css" rel="stylesheet"/>

    <link href="~/Content/DataTables/FixedColumns-3.2.5/css/fixedColumns.bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/DataTables/Buttons-1.5.2/css/buttons.bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/DataTables/FixedHeader-3.1.4/css/fixedHeader.bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/DataTables/KeyTable-2.4.0/css/keyTable.bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/DataTables/Responsive-2.2.2/css/responsive.bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/DataTables/RowGroup-1.0.3/css/rowGroup.bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/DataTables/RowReorder-1.2.4/css/rowReorder.bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/DataTables/Scroller-1.5.0/css/scroller.bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/DataTables/Select-1.2.6/css/select.bootstrap.min.css" rel="stylesheet"/>


    @*@RenderSection("scripts", required: false)*@
    <link href="~/Content/Datepicker/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />

    <link href="~/Content/timepicker/bootstrap-clockpicker.min.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
</head>
<body>
<div id="body">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("زیرسیستم تردد پرسنل آشار داشار", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
                <small>Report & Query Generator</small>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("(گزارش ساز) Report Generator", "index", "RHome", new {Area = "reportGenerator"}, new {})</li>
                    <li>@Html.ActionLink("(فرم ساز) App Generator", "Index", "Home", new {Area = ""}, new {})</li>
                    <li>@Html.ActionLink("(زیر  سیستم مدیریت تردد) Attendance System", "Index", "AttendanceHome", new {Area = "Absence"}, new {})</li>

                    
                    <style>
                        .mulinks .btn-primary{
                            color: white;
                        }
                    </style>
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">منو
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu mulinks">
                            <li>@Html.ActionLink(" فراموشی کارت", "GetDataTable", "ManualAttendance", new {Area = "Absence"}, new {@class = "btn btn-primary"})</li>
                            <li>@Html.ActionLink("تعریف بازه موظفی", "Index", "ObligatedRange", new {Area = "Absence"}, new {@class = "btn btn-primary"})</li>
                            <li>@Html.ActionLink("شیفت کاری", "GetDataTable", "ObligatedRanges", new {Area = "Absence"}, new {@class = "btn btn-primary"})</li>
                            <li>@Html.ActionLink("پرسنل", "GetDataTable", "Personnel", new {Area = "Absence"}, new {@class = "btn btn-primary"})</li>
                            <li>@Html.ActionLink("گروه کاری", "GetDataTable", "WorkGroup", new {Area = "Absence"}, new {@class = "btn btn-primary"})</li>
                            <li>@Html.ActionLink("دستگاه ها", "GetDataTable", "Machines", new {Area = "Absence"}, new {@class = "btn btn-primary"})</li>
                            <li>@Html.ActionLink("پرسنل دستگاه ها", "GetDataTable", "PersonnelMachines", new {Area = "Absence"}, new {@class = "btn btn-primary"})</li>
                            <li>@Html.ActionLink("بازه موظفی گروه های کاری", "GetDataTable", "WorkGroupObligatedRange", new {Area = "Absence"}, new {@class = "btn btn-info"})</li>
                            <li>@Html.ActionLink("ریز کارکرد پرسنل", "Index", "PersonnelTaradodInfo", new {Area = "Absence"}, new {@class = "btn btn-info"})</li>
                            <li>@Html.ActionLink("خلاصه لیست کارکرد پرسنل", "GetAllPersonnelTotalSummaryTimesheetView", "PersonnelTaradodInfo", new {Area = "Absence"}, new {@class = "btn btn-info"})</li>
                            <li>@Html.ActionLink("دیتا از سیستم های دیگر (imgort Data)", "Index", "Import", new {Area = "imgortExport"}, new {@class = "btn btn-info"})</li>
                            <li>@Html.ActionLink("تعریف ساختار excel", "GetDataTable", "ExcelStructures", new {Area = "imgortExport"}, new {@class = "btn btn-info"})</li>
                         
                            
                            <li>@Html.ActionLink("(GPS) محل های کار " , "GetDataTable", "Workplaces", new {Area = "Mobile"}, new {@class = "btn btn-default"})</li>
                            <li>@Html.ActionLink("نام کاربری و رمز عبور " , "GetDataTable", "workplacePersonnel", new {Area = "Mobile"}, new {@class = "btn btn-default"})</li>


                            
                            @*<li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>*@
                        </ul>
                    </li>
                    </ul> @*@Html.Partial("_LoginPartial")*@
                
                
            </div>


        </div>
    </div>
    <div class="body-content">

        <br/>
        <br/>
        <br/>
        <li style="font-size: 21px; text-align: left; direction: ltr; border: 2px solid aliceblue; list-style: none; margin-bottom: 8px;">
            <a href="#" style=""  onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left"></span>بازگشت</a>
            <a href="#" style="float: right" onclick="window.history.forward();"><span 
                                                             class="glyphicon glyphicon-arrow-right"></span>برو به جلو</a>
        </li>

        @RenderBody()
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - زیرسیستم تردد بلوسافت</p>
        </footer>
    </div>


    <script src="~/Content/DataTables/datatables.min.js"></script>
    <script src="~/Content/DataTables/AutoFill-2.3.0/js/autoFill.bootstrap.min.js"></script>
    <script src="~/Content/DataTables/Buttons-1.5.2/js/buttons.bootstrap.js"></script>
    <script src="~/Content/DataTables/ColReorder-1.5.0/js/colReorder.bootstrap.min.js"></script>
    <script src="~/Content/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/DataTables/FixedColumns-3.2.5/js/dataTables.fixedColumns.min.js"></script>
    <script src="~/Content/DataTables/FixedHeader-3.1.4/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/DataTables/JSZip-2.5.0/jszip.min.js"></script>
    <script src="~/Content/DataTables/KeyTable-2.4.0/js/dataTables.keyTable.min.js"></script>
    <script src="~/Content/DataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="~/Content/DataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="~/Content/DataTables/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/DataTables/RowGroup-1.0.3/js/rowGroup.bootstrap.min.js"></script>
    <script src="~/Content/DataTables/RowReorder-1.2.4/js/rowReorder.bootstrap.min.js"></script>
    <script src="~/Content/DataTables/Scroller-1.5.0/js/scroller.bootstrap.min.js"></script>
    <script src="~/Content/DataTables/Select-1.2.6/js/select.bootstrap.min.js"></script>

    <script src="~/Content/Datepicker/jalaali.js"></script>
    <script src="~/Content/Datepicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>

    @RenderSection("scripts", false)
    <script src="~/Content/timepicker/bootstrap-clockpicker.min.js"></script>

</div>
<div id="printHelper"></div>

</body>
</html>