@using SignalRMVCChat.DependencyInjection
@using SignalRMVCChat.Service
@model TelegramBotsWebApplication.Areas.Admin.Models.MyDataTableResponse<SignalRMVCChat.Areas.Email.Model.EmailTemplate>

<style>
    input {
        direction: ltr;
    }
</style>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "ایمیل های ارسال شده";

}




<div>

    <h4>@ViewBag.Title</h4>

    <table class="table">

        <thead>

            <tr>
                <th>عنوان</th>
                <th>نمایش ارسال ها</th>
            </tr>

        </thead>

        <tbody>

            @foreach (var rec in Model.EntityList)
            {
                <tr>
                    <td>
                        @if (rec.IsDeleted)
                        {
                            <span>@rec.Title  (حذف شده )</span>

                        }
                        else
                        {
                            <a href="/Email/EmailTemplates/Detail?id=@rec.Id">@rec.Title - نمایش قالب</a>

                        }

                    </td>
                    <td>
                        
                        <a class="SentEmailList " href="/Email/SentEmail/Sents?templateId=@rec.Id">@rec.Title - نمایش ارسال ها</a>
                    </td>
                   
                </tr>
            }
        </tbody>
    </table>




    @Html.Partial("~/Areas/sysAdmin/Views/Shared/pagingPartial.cshtml")
</div>


@section scripts{


    <script>
        $(document).ready(function () {



        })
    </script>
}